<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--- FROM ADDRESS FOR SCAN RESULT NOTIFICATIONS -->
		<add key="notification.FromAddress" value="wpscans@somewhere.com"/>
		<!--- SMTP SERVER FOR NOTIFICATIONS -->
		<add key="notification.SMTPServer" value="someinternalsmtpserver.com"/>
		<!--- 1 = SEND NOTIFICATIONS 0 = JUST PRINT -->
		<add key="debug" value="0"/>
	</appSettings>
</configuration>
